.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}

div {
    display: block;
}
@media (min-width: 640px){
body {
    font-size: .75rem;
}
}
body {
    --bg-opacity: 1;
    background-color: #f7fafc;
    background-color: rgba(247,250,252,var(--bg-opacity));
    font-family: Rubik;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,"Noto Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.5;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}