.container-fluid {
    padding: 0;
    .widget1 {
        padding: 96px;
        background-color: #f7fafc;

        .row {
            display: flex;
            align-items: center;

            .widget1Col {
                .leftContent {
                    position: relative;

                    .img {
                        max-width: 100%;
                        height: auto;
                    }
                }

                .rightContent {
                    font-family: PoppinsBold;
                    text-align: left;

                    h1 {
                        font-size: 2.25rem;
                    }

                    p {
                        font-family: Rubik;


                        font-size: 1.125rem;

                        .font-bold {
                            font-weight: 800;
                        }
                    }
                }
            }
        }
    }

    .widget2 {
        background-color: #edf2f7;
        text-align: center;
        padding: 96px;

        .line {
            margin: 16px auto;
            width: 90px;
            height: 8px;
            background-color: #ecc94b;
            border-radius: 9999px;
        }

        h1 {
            font-family: PoppinsBold;
            font-size: 1.875rem;
            font-weight: 700;
            margin-top: 16px;
        }

        p {
            font-family: Rubik;
            font-size: 1.125rem;
        }
    }

    .widget3{
        background-color: #ffffff;
        .row{
            justify-content: center;
            background-color: #f7fafc;

            .desktop {
                flex-wrap: wrap;
                justify-content: center;
                padding: 20px;
                .desktopCampaign {
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                    background-color: white;
                    justify-content: space-between;
                    display: flex;
                    padding: 0px; 
                    height: 300px;
                    .desktopText {
                        flex-direction: column;
                        height: 100%;
                        h5 {}

                        p {
                        }
                    }
                    .desktopImg{
                        .img{
                            max-height: 100%;
                        }
                        
                    }
                    
                }
            }

            .mobile {
                .mobileCampaign {
                    background-color: white;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                    margin-bottom: 40px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    .mobileText{
                        margin: 40px;
                        box-shadow: 0   px 0px 10px rgba(0, 0, 0, 0.1);
                        padding-bottom: 10px;
                    }
                    img{
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                        max-height: 100%;
                        max-width: 100%;

                    }
                }
            }
            

        }

        h1 {
            font-family: PoppinsBold;
            font-size: 1.875rem;
            font-weight: 700;
            text-align: center;
        }

        .line {
            margin: 16px auto;
            width: 78px;
            height: 7px;
            background-color: #ecc94b;
            border-radius: 9999px;
        }
    }

}

@font-face {
    font-family: Rubik;
    src: url(../../assets/fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: PoppinsBold;
    src: url(../../assets/fonts/Poppins-Bold.ttf);
}




@media (max-width: 1024px) {
    .container-fluid {
        .widget1 {
            padding: 40px;

            .row {
                .widget1Col {
                    .leftContent {
                        .img {
                            width: 100%;
                        }
                    }

                    .rightContent {
                        h1 {
                            font-size: 24px;
                            text-align: center;
                        }

                        p {
                            font-size: 14px;
                            text-align: center;
                        }
                    }

                }

            }
        }

        .widget2 {
            padding: 40px;

            .widget2Col {
                h1 {
                    font-size: 24px;
                }

                p {
                    font-size: 14px;
                }
            }
        }

        .widget3 {
            h1 {
                font-size: 24px;
            }

            .row {
            }
        }
    }

}

@media (max-width: 990px){
    .container-fluid{
        .widget3{
        padding: 5%;
    }
    }
    

}
