.container-fluid{
    padding: 0;
    .widget1{
        height: 565px;
    padding: 96px;
    background-color: #f7fafc;
    .row{
        display: flex;
        align-items: center;
        .col-6{
            padding: 0;
            .leftContent{
                padding-left: 35px;
                .img{
                    max-width: 100%;
                    display: block;
                    height: auto;
                }
            }
            .rightContent{
                font-family: PoppinsBold;
                text-align: left;
                padding-bottom: 60px;
                line-height: 1.625;
                h1{
                    font-size: 2.25rem;
                    font-weight: 1100;
                }
                p{  
                    font-family: Rubik;
                    padding-top: 20px;
                    width:370px;
                    font-size: 1.125rem;
                    .font-bold{
                        font-weight: 800;
                    }
                }
            }     
        }
    }
    }

    .widget2{
        height: 420px;
        background-color: #edf2f7;
        text-align: center;
        padding: 96px;
        .line{
            margin: 16px auto;  
            width: 90px; 
            height: 8px;
            background-color: #ecc94b;
            border-radius: 9999px;
        }
        h1{
            font-family: PoppinsBold;
            font-size: 1.875rem;
            font-weight: 700;
            margin-top: 16px;
        }
        p{
            font-family: Rubik;
            font-size: 1.125rem;
        }
    }

    .widget3{
        height: 420px;
        background-color: #f7fafc;
        text-align: center;
        padding: 96px;
        .row{
            .col-4{
                display: flex;     
            }
        }
        .line{
            margin: 16px auto;  
            width: 90px; 
            height: 8px;
            background-color: #ecc94b;
            border-radius: 9999px;
        }
        h1{
            font-family: PoppinsBold;
            font-size: 1.875rem;
            font-weight: 700;
            margin-top: 16px;
        }
    }
    
}

@font-face {
    font-family: Rubik;
    src: url(../../assets/fonts/Rubik-Regular.ttf);
  }

  @font-face {
    font-family: PoppinsBold;
    src: url(../../assets/fonts/Poppins-Bold.ttf);
  }

@media (max-width: 1024px) {
    .container-fluid{
        padding: 0;
        .row {
            flex-direction: column;
            .col-6{
                width: auto;
                .leftContent{
                    .img{
                        width: 100%;
                    }
    
                }
                .rightContent{
                    padding: 20px;
                    text-align: center;
                    
                    h1{
                        font-size: 1.5rem;
                    }
                    p{
                        font-size: .875rem;
                        margin-block-start: 1em;
                        margin-block-end: 1em;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                    }
                }
    
            }
    
        }
    }
    
    }
   