<div class="container-fluid">
    <div class="widget1">
        <div class="row">
            <div class="widget1Col col-12 col-lg-6">
                <div class="leftContent">
                    <img class="img" src="../../assets/widget1.jpg">
                </div>
            </div>
            <div class="widget1Col col-12 col-lg-6">
                <div class="rightContent text-sm">
                    <h1>Tüm Platformlar, Tek Çözüm</h1>
                    <p>Netger, internet sitenizi tüm platformlarda <br>
                        <b>en iyi</b>
                        görüntülenecek şekilde tasarlar.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="widget2">
        <div class="widget2Col col-12">
            <h1>Hizmetlerimiz</h1>
            <div class="line">
                <span class="yellowLine"></span>
            </div>
            <p>Netger'in uzman ekibiyle işinizi daha ileriye taşıyacağımız hizmetlerimiz!</p>
        </div>

    </div>

    <div class="widget3">
        <h1>Kampanyalar</h1>
        <div class="line">
            <span class="yellowLine"></span>
        </div>

        <div class="row">

            <div class="desktop d-none d-lg-flex">
                    <div class="desktopCampaign col-xl-6">
                        <div class="desktopText">
                            <h5>Kurumsal Web Tasarım</h5>
                            <p>Firmanıza özel hazırlanmış bir internet siteniz olsun!</p>
                        </div>
                        <div class="desktopImg">
                            <img class="img" src="../../assets/kampanya1.jpg" alt="campaignImage">
                        </div>
                        
                    </div>
                    <div class="desktopCampaign col-xl-6">
                        <div class="desktopText">
                            <h5>Netger Avukat ürününde %20 İndirim Fırsatı</h5>
                        <p>Ofisini son 1 yıl içinde açan avukatlara özel!</p>
                        </div>
                        <div class="desktopImg">
                            <img class="img" src="../../assets/kampanya3.jpg" alt="campaignImage">
                        </div>
                        
                    </div>
                    <div class="desktopCampaign col-xl-6">
                        <div class="desktopText">
                            <h5>Netger Doktor ürününde %20 İndirim Fırsatı</h5>
                        <p>Özel muayenehanesini son 1 yıl içinde açan doktorlara özel!</p>
                        </div>
                        <div class="desktopImg">
                            <img class="img" src="../../assets/kampanya5.jpg" alt="campaignImage">
                        </div>
                        
                    </div>
                
            </div>

            <div class="mobile  d-lg-none">
                <div class="mobileCampaign col-12">
                    <img src="../../assets/kampanya2.jpg" alt="campaignImage">
                    <div class="mobileText">
                        <h5>Kurumsal Web Tasarım</h5>
                    <p>Firmanıza özel hazırlanmış bir internet siteniz olsun!</p>
                    </div>
                    
                    
                </div>
                <div class="mobileCampaign col-12">
                    <img src="../../assets/kampanya4.jpg" alt="campaignImage">
                    <div class="mobileText">
                        <h5>Netger Avukat ürününde %20 İndirim Fırsatı</h5>
                    <p>Ofisini son 1 yıl içinde açan avukatlara özel!</p>
                    </div>
                    
                    
                </div>
                <div class="mobileCampaign col-12">
                    <img src="../../assets/kampanya6.jpg" alt="campaignImage">
                    <div class="mobileText">
                        <h5>Netger Doktor ürününde %20 İndirim Fırsatı</h5>
                    <p>Özel muayenehanesini son 1 yıl içinde açan doktorlara özel!</p>
                    </div>
                    
                    
                </div>
            </div>



        </div>

        <!-- <div class="row">


            <div class="col-xl-6">
                <div class="desktopCampaign">
                    <div class="campaignText">
                        <h5>Kurumsal Web <br>Tasarım</h5>
                        <p>Firmanıza özel hazırlanmış bir <br> internet siteniz olsun!</p>
                    </div>
                    <img class="img" src="../../assets/kampanya1.jpg" alt="campaignImage">
                    
                </div>
            </div>
            <div class="col-xl-6">
                <div class="desktopCampaign">
                    <div class="campaignText">
                        <h5>Netger Avukat ürününde %20 İndirim Fırsatı</h5>
                        <p>Ofisini son 1 yıl içinde açan avukatlara özel!</p>
                    </div>
                    <img class="img" src="../../assets/kampanya3.jpg" alt="campaignImage">
                    
                </div>
            </div>
            <div class="col-xl-6">
                <div class="desktopCampaign">
                    <div class="campaignText">
                        <h5>Netger Doktor ürününde %20 İndirim Fırsatı</h5>
                        <p>Özel muayenehanesini son 1 yıl içinde açan doktorlara özel!</p>
                    </div>
                    <img class="img" src="../../assets/kampanya5.jpg" alt="campaignImage">
                    
                </div>
            </div>

        </div> -->


    </div>