
<div class="container-fluid">
    <div class="widget1">
        <div class="row">
            <div class="col-6">
                <div class="leftContent">
                    <img class="img" src="../../assets/widget1.jpg"><img>
                </div>      
            </div>
            <div class="col-6">
                <div class="rightContent">
                    <h1>Tüm Platformlar, Tek Çözüm</h1>
                    <p>Netger, internet sitenizi tüm platformlarda
                   <span class="font-bold">en iyi</span> 
                   görüntülenecek şekilde tasarlar.</p>
                </div> 
            </div>
        </div>
    </div>
    
    <div class="widget2">
        <h1>Hizmetlerimiz</h1>
        <div class="line">
            <span class="yellowLine"></span>
        </div>
        <p>Netger'in uzman ekibiyle işinizi daha ileriye taşıyacağımız hizmetlerimiz!</p>
    </div>

    <div class="widget3">
        <h1>Kampanyalar</h1>
        <div class="line">
            <span class="yellowLine"></span>
        </div>

        <div class="row">   
            <div class="col-6">
                <div class="content">
                    <div class="compaignText">
                        <h2>Kurumsal Web Tasarım</h2>
                        <p>Firmanıza özel hazırlanmış bir internet siteniz olsun!</p>
                    </div>
                    <img class="img" src="../../assets/kampanya1.jpg"><img> 
                </div>
            </div>
            <div class="col-6">
                <div class="content"> 
                    <div class="compaignText">
                        <h2>Netger Avukat ürününde %20 İndirim Fırsatı</h2>
                        <p>Ofisini son 1 yıl içinde açan avukatlara özel!</p>
                    </div>
                    <img class="img" src="../../assets/kampanya2.jpg"><img> 
                </div>
            </div>
            <div class="col-6 centered">
                <div class="content"> 
                    <div class="compaignText">
                        <h2>Netger Doktor ürününde %20 İndirim Fırsatı</h2>
                        <p>Özel muayenehanesini son 1 yıl içinde açan doktorlara özel!</p>
                    </div>
                    <img class="img" src="../../assets/kampanya3.jpg"><img> 
                </div>
            </div>
        </div>
    </div>
    
</div>