<!-- <div class="container-fluid">
    <div class="img">
        <img src="../../assets/widget1.jpg"><img>
        
    </div>
    <div class="widgetText">
        <h1>Tüm Platformlar, Tek Çözüm</h1>
        <p>Netger, internet sitenizi tüm platformlarda
           <span class="font-bold">en iyi</span> görüntülenecek şekilde tasarlar.</p>
    </div>
</div> -->

<div class="container-fluid">
    <div class="widget1">
        <div class="row">
            <div class="col-6">
                <div class="leftContent">
                    <img class="img" src="../../assets/widget1.jpg"><img>
                </div>      
            </div>
            <div class="col-6">
                <div class="rightContent">
                    <h1>Tüm Platformlar, Tek Çözüm</h1>
                    <p>Netger, internet sitenizi tüm platformlarda
                   <span class="font-bold">en iyi</span> 
                   görüntülenecek şekilde tasarlar.</p>
                </div> 
            </div>
        </div>
    </div>
    
    <div class="widget2">
        <h1>Hizmetlerimiz</h1>
        <div class="line">
            <span class="yellowLine"></span>
        </div>
        <p>Netger'in uzman ekibiyle işinizi daha ileriye taşıyacağımız hizmetlerimiz!</p>
    </div>

    <div class="widget3">
        <h1>Kampanyalar</h1>
        <div class="line">
            <span class="yellowLine"></span>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="img">
                    
                </div>
                
                <h1>Kurumsal Web Tasarım</h1>
                <p>Firmanıza özel hazırlanmış bir internet siteniz olsun!</p>
            </div>
            <div class="col-4">
                <div class="img">
                    
                </div>
                
                <h1>Netger Avukat ürününde %20 İndirim Fırsatı</h1>
                <p>Ofisini son 1 yıl içinde açan avukatlara özel!</p>
            </div>
            <div class="col-4">
                <div class="img">
                    
                </div>
                
                <h1>Netger Doktor ürününde %20 İndirim Fırsatı</h1>
                <p>Özel muayenehanesini son 1 yıl içinde açan doktorlara özel!</p>
            </div>
        </div>
    </div>
    
</div>