
.navbar{
    padding-top: 0;
    .container-fluid{
        display: inline;
        background-color: #e2e8f0;
        
        
        .leftright{
            margin-right: 18%;
            margin-left: 18%;
        }
    }
}
