.navbar {
  font: optional;
  font-weight: lighter;
  padding-top: 0%;
  .container-fluid {
    display: inline;
    background-color: #e2e8f0;

<<<<<<< HEAD
.navbar{
    padding-top: 0;
    .container-fluid{
        display: inline;
        background-color: #e2e8f0;
        
        
        .leftright{
            margin-right: 18%;
            margin-left: 18%;
        }
=======
    .leftright {
      margin-right: 18%;
      margin-left: 18%;
>>>>>>> 03ef1560ba72c1c4c9bfa311fce0156eb70fab1d
    }
  }
}
