.navbar {
  color: #718096  !important;
  
  font-weight: lighter;
  padding-top: 0%;
  .container-fluid {
    display: inline;
    background-color: #e2e8f0;
    
    .leftright { 
      
      margin-right: 18%;
      margin-left: 18%;
    }
  }
}
.fas{
  padding-right: 5px;
  
}
