<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>


<div class="container-fluid ">
  <div class="row">
    <div class="col-6 d-none d-lg-block">

      <ul class="ss">
        <div class="left ">
        <span class="deneme"  href="#">
          <i class="fas fa-phone"></i> +90 212 951 02 25
        </span> 
        <span class="deneme"  href="#">
          <i class="fas fa-envelope"></i> info@netger.net
        </span>
        <span class="deneme"  href="#">
          <i class="fab fa-facebook"></i>
        </span>
        <span class="deneme"  href="#">
          <i class="fab fa-twitter"></i>
        </span>
        <span class="deneme"  href="#">
          <i class="fab fa-instagram"></i>
        </span>
        <span class="deneme"  href="#">
          <i class="fab fa-linkedin"></i>
        </span>
        <span class="deneme"  href="#">
          <i class="fab fa-youtube"></i>
        </span>
      </div>  
      </ul>
    </div>
    
    <div class="col-6 d-none d-lg-block">

      <ul class="ss">
        <div class="right">
        <span class="deneme"  href="#">
          <i class="fas fa-search"></i> search
        </span>
        <span class="deneme"  href="#">About Us</span>
        <a class="deneme"  href="#">Human Resources</a>
        <a class="deneme"  href="#">Contact</a>
        <a class="deneme"  href="#">Blog</a>
        <a class="deneme"  href="#">Campaigns</a>
        <a class="deneme"  href="#">
          <i class="fab fa-web"> TR</i>
        </a>
      </div>
      </ul>
    </div>
  </div>
  
</div>