<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container-fluid">
      
      <ul class="navbar-nav">
        <li >
        <a  href="#">Navbar</a>
        </li>
        <li >
          <a href="#">Home</a>
        </li>
        <li >
          <a href="#">Features</a>
        </li>
        <li >
          <a href="#">Pricing</a>
        </li>
      </ul>
        
              
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">search</a>
            </li>     
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Human Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Compaigns</a>
          </li>
          <li>
            <a class="dropdown-item" href="#"
              ><i class="flag-united-kingdom flag"></i>English
              <i class="fa fa-check text-success ms-2"></i
            ></a>
          </li>
        </ul>
      </div>

  </nav>
  