<!-- 
    d-none d-lg-flex : mobilde display none lg ekranda display flex
    d-flex d-lg-none :lg ekrana kadar display flex mobilde display none
 -->

<div class="container-fluid">

    <div class="row">
        <div class="leftContent col-12 col-xl-4">
            <h1>Referanslar</h1>
            <div class="line">
                <p class="yellowLine"></p>
            </div>
            <p>Hizmet alanlarımız kapsamında tamamladığımız projelerden bazıları!</p>

        </div>
        <div class="rightContent col-12 col-xl-8">
            <div class="row">
                <div class="imageFrame col-6 col-md-3">
                    <div class="img-container">
                        <img src="../../assets/uyafa.jpg">
                        <div class="text-container">
                            <p>UYAFA</p>
                        </div>

                    </div>
                </div>
                <div class="imageFrame col-6 col-md-3">
                    <div class="img-container">
                        <img src="../../assets/elmin.jpg">
                        <div class="text-container">
                            <p>Elmin</p>
                        </div>
                    </div>
                </div>
                <div class="imageFrame col-6 col-md-3">
                    <div class="img-container">
                        <img src="../../assets/profx.jpg">
                        <div class="text-container">
                            <p>Profx</p>
                        </div>
                    </div>
                </div>
                <div class="imageFrame col-6 col-md-3">
                    <div class="img-container">
                        <img src="../../assets/erkamkomurcu.jpg">
                        <div class="text-container">
                            <p>Doç.Dr. Erkam KÖMÜRCÜ</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>