.container-fluid{
    background-color: #edf2f7; 
    padding-top: 96px;
    padding-bottom: 96px;
    padding-right: 50px;
    padding-left: 50px;
    .row{
        display: flex;
        flex-wrap: wrap;
    .leftContent{
        .line{
            margin: 16px auto;  
            width: 78px; 
            height: 7px;
            background-color: #ecc94b;
            border-radius: 9999px;
        }
        h1{ 
            text-align: center;
            font-family: PoppinsBold;
            font-size: 30px;
            font-weight: 900;
            margin-top: 16px;
        }
        p{
            font-family: Rubik;
            font-size: 16px;
            margin-top: 20px;
            text-align: center;
        }
    }
    .rightContent{
        .row{
            .imageFrame{
                background-color: #edf2f7;
                transition: transform 0.3s;
                &:hover {
                    transform: scale(1.08);
                }
                .img-container{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img{
                        border-radius: 10px;
                        width: 100%;
                        height: 100%;
                    }
                    .text-container{
                        width: 100%;
                        font-family: Rubik;
                        padding-top: 10px;
                        p{
                            text-align: center;
                        }
                    }
                }
                
            }
        }
    }
    }
}

@media (max-width: 1024px) {
    .container-fluid{
        .row{
            .leftContent{

            }

            .rightContent{

            }
        }
    }
}

@media (max-width: 768px) {
    .container-fluid{
        .row{

            .leftContent{
                h1{
                    font-size: 24px;
                }
                p{
                    font-size: 14px;
                }
            }
            .rightContent{

            }
        }
    }
}
