<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>


<footer class="container-fluid ">
  
  <div class="row ">
    <div class="col-12 col-sm-4 col-md-3 col-lg-2  mx-auto mb-4">
      <div class="lgo">
      <a href="/">
        <img src="/assets/logo-ss.png" alt="netger logo">
      </a>
      </div>
      <p>
        <i class="fas fa-phone me-3"></i> +90 212 951 02 25
      </p>
      <p>
        <i class="fas fa-envelope me-3"></i>info@netger.net
      </p>
      <p>
        <i class="fas fa-map-marker"></i> Manas Bulvarı Adalet Mahallesi Folkart Towers A Kule No:47 B Kat:21 D:2107
        Bayraklı/İzmir
      </p>
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <div>
        <img src="assets/google-partner.png" alt="google partner">
      </div>
    </div>

  

    <div class="col-12 col-sm-4 col-md-3  mx-auto mb-4 ">
      
      <h6 class="text-uppercase fw-bold text-white mb-4 ">
        Products
      </h6>
      <div class="d-flex flex-column ">
        <a href="#" class="text-reset ">Logoger</a>
        <a href="#" class="text-reset">Okutara</a>
        <a href="#" class="text-reset">Netger Avukat</a>
        <a href="#" class="text-reset">Netger Doktor</a>
      </div>

      <h6 class="text-uppercase fw-bold text-white mb-4 mt-3">
        Our Services  
      </h6>
      <div class="d-flex flex-column ">
        <a href="#" class="text-reset">Digital Marketing</a>
        <a href="#" class="text-reset">Web Design</a>
        <a href="#" class="text-reset">Social Media Consultancy</a>
        <a href="#" class="text-reset">Mobile App Development</a>
        <a href="#" class="text-reset">Photo and Video Shooting</a>
      </div>
    </div>


    <div class="col-12 col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

      <h6 class="text-uppercase fw-bold text-white mb-4">
        Links
      </h6>
      <div class="d-flex flex-column">
        <a href="#" class="text-reset">Portfolio</a>
        <a href="#" class="text-reset">Campaigns</a>
        <a href="#" class="text-reset">Blog</a>
        <a href="#" class="text-reset">About Us</a>
        <a href="#" class="text-reset">Human Resources</a>
        <a href="#" class="text-reset">Contact</a>
        <a href="#" class="text-reset">Fatura Ödeme</a>

      </div>
    </div>


    <div class="col-12 col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 ">

      <h6 class="text-uppercase fw-bold text-white mb-4">
        Legal
      </h6>

      <a href="#" class="text-reset ">Distance Selling Agreement</a>


      <a href="#" class="text-reset">Preliminary Information Form</a>


      <a href="#" class="text-reset">Protection of Personal Data</a>


      <a href="#" class="text-reset">Privacy Policy</a>


      <a href="#" class="text-reset">Terms of Use</a>

    </div>

  </div>
  <div class="top bg-gray-800">
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">

      <a class="text-reset" href="/">Netger A.Ş. © Copyright 2023</a>
    </div>
  </div>


</footer>