<div class="container-fluid">
    <div class="row">
        <div class="col-4 ">
            
            <h1><img src="../../assets/icons/cursorIcon.svg" class="linkIcon1">Site Yaptır</h1>
        </div>
        <div class="col-4 ">
            
            <h1><img src="../../assets/icons/adIcon.svg" class="linkIcon2">Reklam Ver</h1>
        </div>
        <div class="col-4 ">
            
            <h1><img src="../../assets/icons/contactusIcon.svg" class="linkIcon3">Bize Ulaş</h1>
        </div>
    </div>
</div>
