.container-fluid{
    background-color: #edf2f7;
    .row{

        .linkCol{
            border: 1px solid #dbd9dd;
            &:hover{
                background-color: white;
                cursor: pointer;
                transition: 0.3s;
            }
            .linkIcon1{
                height:20px ;
                width: 40px;
            }
            .linkIcon2{
                height: 30px;
                width: 40px;
            }
            .linkIcon3{
                height: 18px;
                width: 40px;
            }
        }
        h1{
            height: 50px;
            font-size: medium;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}


@media (max-width: 1024px) {
    .container-fluid{
        .row {
            .linkCol{

            }
    
        }
    }
    
}
