.text-gray-800 {
    --text-opacity: 1;
    color: #2d3748;
    color: rgba(45,55,72,var(--text-opacity));
}
.bg-gray-200 {
    --bg-opacity: 1;
    background-color: #edf2f7;
    background-color: rgba(237,242,247,var(--bg-opacity));
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}

div {
    display: block;
}

element.style {
    padding: 0!important;
}
.container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.border-l {
    border-left-width: 1px;
}
.border-r {
    border-right-width: 1px;
}
.border-b-0 {
    border-bottom-width: 0;
}
@media (min-width: 640px){
.container {
    max-width: 640px;
}
}
.container {
    width: 100%;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}

div {
    display: block;
}
.text-gray-800 {
    --text-opacity: 1;
    color: #2d3748;
    color: rgba(45,55,72,var(--text-opacity));
}
.bg-gray-200 {
    --bg-opacity: 1;
    background-color: #edf2f7;
    background-color: rgba(237,242,247,var(--bg-opacity));
}

.text-sm {
    font-size: .875rem;
}
.font-semibold {
    font-weight: 600;
}

.font-poppins {
    font-family: Poppins;
}
.flex-col {
    flex-direction: row;
}
.flex {
    display: flex;
}
ol, ul {
    list-style: none;
}
fieldset, ol, ul {
    margin: 0;
    padding: 0;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.w-full {
    width: 100%;
}
.border-b {
    border-bottom-width: 1px;
}

a, li {
    display: inline-block;
    white-space: nowrap;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.w-full {
    width: 100%;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.h-full {
    height: 100%;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
a, li {
    display: inline-block;
    white-space: nowrap;
}
a {
    color: inherit;
    text-decoration: inherit;
}
a {
    background-color: transparent;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

element.style {
    transform: scaleX(-1);
}
.w-3 {
    width: 0.75rem;
}
.mr-2 {
    margin-right: 0.5rem;
}
.h-3 {
    height: 0.75rem;
}
.inline-block {
    display: inline-block;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
a, li {
    display: inline-block;
    white-space: nowrap;
}
a {
    color: inherit;
    text-decoration: inherit;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}

// path[Özellik Stili] {
//     fill: currentcolor;
//     d: path("M 356.683 255.576 L 115.915 18.636 C 77.055 -21.086 8 6.909 8 62.87 v 349.112 c 0 55.241 67.457 83.887 107.414 44.727 l 23.927 -23.449 l 17.535 40.669 l 0.121 0.281 l 0.125 0.274 c 13.903 31.145 50.295 45.894 82.155 32.648 l 41.903 -17.395 l 0.254 -0.106 l 0.253 -0.109 c 15.618 -6.697 27.662 -19.038 33.912 -34.749 c 6.184 -15.545 5.927 -32.568 -0.724 -47.933 l -18.71 -43.423 h 16.527 c 55.848 0.002 85.165 -68.485 43.991 -107.841 Z m -43.872 59.843 h -89.594 l 47.607 110.491 c 3.316 7.661 -0.474 16.249 -8.053 19.499 l -41.922 17.409 c -7.816 3.25 -16.58 -0.465 -19.895 -7.892 l -45.238 -104.92 l -73.898 72.423 C 72.038 432.012 56 424.734 56 411.982 V 62.868 c 0 -13.309 16.978 -19.829 25.817 -10.445 L 323.47 290.117 c 9.79 9.091 2.553 25.302 -10.659 25.302 Z");
// }

:not(svg) {
    transform-origin: 0px 0px;
}


.w-full {
    width: 100%;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.h-full {
    height: 100%;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
a, li {
    display: inline-block;
    white-space: nowrap;
}
a {
    color: inherit;
    text-decoration: inherit;
}
a {
    background-color: transparent;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}
kullanıcı aracısı stil sayfası
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
kullanıcı aracısı stil sayfası
li {
    text-align: -webkit-match-parent;
}
.text-sm {
    font-size: .875rem;
}
.font-semibold {
    font-weight: 600;
}
.font-poppins {
    font-family: Poppins;
}
ol, ul {
    list-style: none;
}
kullanıcı aracısı stil sayfası
ul {
    list-style-type: disc;
}

.w-full {
    width: 100%;
}
.border-b {
    border-bottom-width: 1px;
}
a, li {
    display: inline-block;
    white-space: nowrap;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.w-full {
    width: 100%;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.h-full {
    height: 100%;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
.border-l {
    border-left-width: 1px;
}
.border-r {
    border-right-width: 1px;
}
a, li {
    display: inline-block;
    white-space: nowrap;
}
a {
    color: inherit;
    text-decoration: inherit;
}
a {
    background-color: transparent;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.w-6 {
    width: 1.5rem;
}

.mr-2 {
    margin-right: 0.5rem;
}
.h-6 {
    height: 1.5rem;
}
.inline-block {
    display: inline-block;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}
// path[Özellik Stili] {
//     fill: currentcolor;
//     d: path("M 162.925 238.709 l 8.822 30.655 h -25.606 l 9.041 -30.652 c 1.277 -4.421 2.651 -9.994 3.872 -15.245 c 1.22 5.251 2.594 10.823 3.871 15.242 Z m 166.474 -32.099 h -14.523 v 98.781 h 14.523 c 29.776 0 46.175 -17.678 46.175 -49.776 c 0 -32.239 -17.49 -49.005 -46.175 -49.005 Z M 512 112 v 288 c 0 26.51 -21.49 48 -48 48 H 48 c -26.51 0 -48 -21.49 -48 -48 V 112 c 0 -26.51 21.49 -48 48 -48 h 416 c 26.51 0 48 21.49 48 48 Z M 245.459 336.139 l -57.097 -168 A 12.001 12.001 0 0 0 177 160 h -35.894 a 12.001 12.001 0 0 0 -11.362 8.139 l -57.097 168 C 70.003 343.922 75.789 352 84.009 352 h 29.133 a 12 12 0 0 0 11.535 -8.693 l 8.574 -29.906 h 51.367 l 8.793 29.977 A 12 12 0 0 0 204.926 352 h 29.172 c 8.22 0 14.006 -8.078 11.361 -15.861 Z m 184.701 -80.525 c 0 -58.977 -37.919 -95.614 -98.96 -95.614 h -57.366 c -6.627 0 -12 5.373 -12 12 v 168 c 0 6.627 5.373 12 12 12 H 331.2 c 61.041 0 98.96 -36.933 98.96 -96.386 Z");
// }

:not(svg) {
    transform-origin: 0px 0px;
}

.w-6 {
    width: 1.5rem;
}
.mr-2 {
    margin-right: 0.5rem;
}
.h-6 {
    height: 1.5rem;
}
.inline-block {
    display: inline-block;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}
kullanıcı aracısı stil sayfası
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.w-full {
    width: 100%;
}
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.h-full {
    height: 100%;
}
.justify-center {
    justify-content:center;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
.border-l {
    border-left-width: 1px;
}
.border-r {
    border-right-width: 1px;
}
a, li {
    display: inline-block;
    white-space: nowrap;
}
a {
    color: inherit;
    text-decoration: inherit;
}
a {
    background-color: transparent;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.w-full {
    width: 100%;
}

.border-b {
    border-bottom-width: 1px;
}
a, li {
    display: inline-block;
    white-space: nowrap;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.w-full {
    width: 100%;
}

.border-b {
    border-bottom-width: 1px;
}
a, li {
    display: inline-block;
    white-space: nowrap;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.w-full {
    width: 100%;
}
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.h-full {
    height: 100%;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
a, li {
    display: inline-block;
    white-space: nowrap;
}
a {
    color: inherit;
    text-decoration: inherit;
}
a {
    background-color: transparent;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}
kullanıcı aracısı stil sayfası
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.w-4 {
    width: 1rem;
}

.mr-2 {
    margin-right: 0.5rem;
}
.h-4 {
    height: 1rem;
}
.inline-block {
    display: inline-block;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}
kullanıcı aracısı stil sayfası
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}
// path[Özellik Stili] {
//     fill: currentcolor;
//     d: path("M 464 32 H 48 C 21.49 32 0 53.49 0 80 v 352 c 0 26.51 21.49 48 48 48 h 416 c 26.51 0 48 -21.49 48 -48 V 80 c 0 -26.51 -21.49 -48 -48 -48 Z M 224 416 H 64 v -96 h 160 v 96 Z m 0 -160 H 64 v -96 h 160 v 96 Z m 224 160 H 288 v -96 h 160 v 96 Z m 0 -160 H 288 v -96 h 160 v 96 Z");
// }

:not(svg) {
    transform-origin: 0px 0px;
}


.w-4 {
    width: 1rem;
}
.mr-2 {
    margin-right: 0.5rem;
}
.h-4 {
    height: 1rem;
}
.inline-block {
    display: inline-block;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}
kullanıcı aracısı stil sayfası
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.w-full {
    width: 100%;
}
.py-3 {
    padding-top: 0.75rem
rem
;
    padding-bottom: 0.75rem;
}

.h-full {
    height: 100%;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
a, li {
    display: inline-block;
    white-space: nowrap;
}
a {
    color: inherit;
    text-decoration: inherit;
}
a {
    background-color: transparent;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}
kullanıcı aracısı stil sayfası
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.w-full {
    width: 100%;
}
.border-b {
    border-bottom-width: 1px;
}
a, li {
    display: inline-block;
    white-space: nowrap;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.text-sm {
    font-size: .875rem;
}
.font-semibold {
    font-weight: 600;
}

.font-poppins {
    font-family: Poppins;
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex;
}
ol, ul {
    list-style: none;
}
fieldset, ol, ul {
    margin: 0;
    padding: 0;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

element.style {
    padding: 0!important;
}
.container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.border-l {
    border-left-width: 1px;
}
.border-r {
    border-right-width: 1px;
}
.border-b-0 {
    border-bottom-width: 0;
}
@media (min-width: 640px){
.container {
    max-width: 640px;
}
}
.container {
    width: 100%;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}
kullanıcı aracısı stil sayfası
div {
    display: block;
}

