a,
button {
  font-size: 14px;
  font-weight: 700;
  color: rgb(61, 58, 58);
}
.superNav {
  font-size: 13px;
}
.form-control {
  outline: none !important;
  box-shadow: none !important;
}
.dropdown > .dropdown-item:active {
  pointer-events: none;
}
ul > li > a:hover,
.dropdown-toggle:hover {
  background-color: #ecc94a;
  border-radius: 0%;
}
.buton:hover {
  transform: scale(1.1);
  background-color: #f8da70;

  border-radius: 50px !important;
}

.navbar-icon > button {
  border-radius: 50px;

  border: none;
  padding: 10px 10px 10px 10px;
}
.navbar-icon > button > i {
  padding-right: 5px;
}
#offer {
  background-color: #ecc94a;
  color: #744210;
  font-weight: 500;
}
#call {
  background-color: #37a169;
  color: white;
  border-radius: 50px;
  font-weight: 500;
}

.offcanvas {
  background-color: #ecc94a;
}
.ofcanvas > a > p {
  font-weight: 400;
  font-size: medium;
  color: #744210;
}
.ofcanvas > a {
  font-weight: 600;
  font-size: x-large;
}

#saydam {
  color: #744210;
  font-size: medium;
}

.alta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8da70;

  margin-top: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #744210;
  font-size: small;
}
.alta > a {
  border-radius: 50px;
  border: 1px solid #744210;
  padding: 5px 5px 5px;
  font-size: small;
}
