<nav
  class="navbar navbar-expand-lg navbar-light bg-white px-8 text-gray-700"
  style="height: 85px"
>
  <div class="">
    <img src="../../assets/logo-s.png" class="navbar-brand" href="#" />
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse d-lg-flex justify-content-between"
    id="navbarSupportedContent"
  >
    <ul
      class="navbar-nav ml-auto d-flex align-items-center mr-4 px-2 font-weight-bold text-sm text-gray-700"
    >
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          data-hover="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Products</a
        >
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Okutara</a>
          <a class="dropdown-item" href="#">Netger Avukat</a>
          <a class="dropdown-item" href="#">Netger Doktor</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-toggle="dropdown"
          data-hover="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Services</a
        >
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">LogoGer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Corporate Web Site</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Portfolio</a>  
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button
        class="btn btn-warning rounded-pill border-2 border-yellow-500 bg-yellow-400 text-yellow-900 transition-fast btn-grow"
        type="submit"
      >
        <i class="fa fa-phone rotate"></i> Let us Call You
      </button>
    </form>
  </div>
</nav>
