
<!-- <body>
     <div class="banner">
        <div class="container mx-auto">
            <h1 class="text-3xl lg:text-6xl font-poppins font-bold mb-1">Dijital hayaller şimdi gerçekler!</h1>
            <p class="text-sm lg:text-lg">Netger dijital reklam ajansı işinizi büyütmeniz ve geliştirmeniz için dijital çözümler üretir.</p>
        </div>
    
 </div>

</body> -->

<div class="hero bg-gray-800 flex items-center hero-webp" data-v-3d3d80e0=""><div class="container mx-auto" data-v-3d3d80e0=""><div class="left overflow-hidden text-white text-center mb-8 md:mb-12 lg:mb-16" data-v-3d3d80e0=""><h1 class="text-3xl lg:text-6xl font-poppins font-bold mb-1" data-v-3d3d80e0="">Dijital hayaller şimdi gerçekler!</h1> <p class="text-sm lg:text-lg" data-v-3d3d80e0="">Netger dijital reklam ajansı işinizi büyütmeniz ve geliştirmeniz için dijital çözümler üretir.</p></div></div></div>
