
.container-fluid {
  position: relative;
  overflow: hidden;
  height: 570px;
  padding: 0%;
  .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: 90%;
  }
  .banner-content {
    width: 100%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }h1{
    font-family: 'Poppins'; 
    margin-bottom: 0.25rem;
    margin: 1rem;
    font-size: 4rem;;
  }
}

@font-face {
  font-family: Poppins;
  src: url(../../assets/fonts/Poppins-Regular.ttf);
}

