.container-fluid{
    background-color: #ecc94b;
    height: 67px;
    .row{
        height: 100%;
        align-items: center;
        margin-bottom: 0;
        margin-left: 80px;
        margin-right: 80px;
        .col-4{
            justify-content: center;
            text-align: center;
            font-family: Poppins;
            .icon{
                height: 25px;
                width: 25px;
            }
            .icon2{
                height: 30px;
                width: 50px;
            }
            h1{
                font-size: 1.25rem;
                font-weight: 600;
            }
        }
    }
}

@font-face {
    font-family: Poppins;
    src: url(../../../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: PoppinsBold;
    src: url(../../../assets/fonts/Poppins-Bold.ttf);
}