.logo-container {

  .logo-item {
    
    filter: grayscale(100%);

    &:hover {
      transition: all;//bak
      filter: grayscale(0%);
      
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

//ngFor ile tyscr çekicem 
