<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="logo-container mx-auto referanslar overflow-hidden" style="font-size: 0;" >
  <div class="logo-item ">
    <img src="/assets/edepola.svg" alt="netger logo" class="ref1 ref-webp img-fluid" style="transform: translate(-50%, 0%) scale(0.964029);">
  </div>
  <!-- Diğer logolar buraya eklenmeli -->
  <div class="logo-item">
    <img src="/assets/tatildükkan.png" class="ref2 ref-webp img-fluid" alt="Louvre" style="transform: translate(-50%, 0%) scale(1);"/>
  </div>
  <div class="logo-item">
    <img src="/assets/akselim.png" class="ref3 ref-webp img-fluid" alt="Louvre" style="transform: translate(-50%, 0%) scale(1);"/>
  </div>
  <div class="logo-item">
    <img src="/assets/Incehesap-logo.png" class="ref4 ref-webp img-fluid" alt="Louvre" style="transform: translate(-50%, 0%) scale(1);" />
  </div>
  <div class="logo-item">
    <img src="/assets/modasaat.png" class="ref5 ref-webp img-fluid" alt="Louvre" style="transform: translate(-50%, 0%) scale(1);"/>
  </div>
  <div class="logo-item">
    <img src="/assets/novapazar.png" class="ref6 ref-webp img-fluid" alt="Louvre" style="transform: translate(-50%, 0%) scale(1);" />
  </div>
  <div class="logo-item">
    <img src="/assets/44427.png" class="ref7 ref-webp img-fluid" alt="Louvre" style="transform: translate(-50%, 0%) scale(1);"/>
  </div>
  <div class="logo-item">
    <img src="/assets/indir.png" class="ref8 ref-webp img-fluid" alt="Louvre" style="transform: translate(-50%, 0%) scale(1);" />
    
  </div>
  <div class="logo-item">
    <img src="/assets/ortaklar.png" class="ref9 ref-webp img-fluid" alt="Louvre" style="transform: translate(-50%, 0%) scale(1);"/>
  </div>
  <div class="logo-item">
    <img src="/assets/Technolat_Logo.png" class="ref10 ref-webp img-fluid" alt="Louvre" style="transform: translate(-50%, 0%) scale(1);" />
  </div>
  <div class="logo-item">
    <img src="/assets/konusarak.png" class="ref11 ref-webp img-fluid" alt="Louvre" style="transform: translate(-50%, 0%) scale(1);"/>
    
  </div>
  <div class="logo-item">
    <img src="/assets/gettap.png" class="ref12 ref-webp img-fluid" alt="Louvre" style="transform: translate(-50%, 0%) scale(1);"/>
    
  </div>
  <div class="logo-item">
    <img src="/assets/polat.png" class="ref13 ref-webp img-fluid" alt="Louvre" style="transform: translate(-50%, 0%) scale(1);"/>
    
  </div>
  <div class="logo-item">
    <img src="/assets/skynak.png" class="ref14 ref-webp img-fluid" alt="Louvre" style="transform: translate(-50%, 0%) scale(1);" />
    
  </div>
  <div class="logo-item">
    <img src="/assets/erzincan.png" class="ref15 ref-webp img-fluid" alt="Louvre" style="transform: translate(-50%, 0%) scale(1);"/>
    
  </div>
  <div class="logo-item">
    <img src="/assets/istanbulbüro.png" class="ref16 ref-webp img-fluid" alt="Louvre" style="transform: translate(-50%, 0%) scale(1);"/>
    
  </div>
  <div class="logo-item">
    <img src="/assets/ews.png" class="ref17 ref-webp img-fluid" alt="Louvre" style="transform: translate(-50%, 0%) scale(1);"/>
    
  </div>
  <div class="logo-item">
    <img src="/assets/uyafa.png" class="ref18 ref-webp img-fluid" alt="Louvre" style="transform: translate(-50%, 0%) scale(1);" />
    
  </div>
  <div class="logo-item">
    <img src="/assets/loft.png" class="ref19 ref-webp img-fluid" alt="Louvre" style="transform: translate(-50%, 0%) scale(1);"/>
  </div>
  <div class="logo-item">
    <img src="/assets/ekram.png" class="ref20 ref-webp img-fluid" alt="Louvre" style="transform: translate(-50%, 0%) scale(1);"/>
    
  </div>
  

</div>

</body>
</html>

        